*{
	font-family: "Lucida Console", "Courier New", monospace;
}
.adminbody{

	display: flex;
}

.input{
	font-family: 'Mukta', sans-serif;
	display: flex;
	height: 60px;
	/* align-items: center; */
	justify-content: center;
	margin: 0;
	/* background-color: rgb(148, 133, 133);	 */
}
table{
	width: 100%;
	margin: auto;
}
tr, th, td{
	border: 1px solid black;
}

button{
	width: 40px;
	background-color: grey;
}